img{
    width: 400px;
}
body{
    text-align: center;
    font-family: 'Arial';
    background-color: rgb(0, 0, 0);
    color: blueviolet;
}
.parallax{
    background-image: url('https://i.pinimg.com/originals/7b/d2/af/7bd2af9577aec4f47ead840abea440ec.jpg');
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #b04cf7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth transition */
  }
  
  button:hover {
    background-color: #5b00c4; /* Darker blue */
    transform: scale(1.1); /* Grow button on hover */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Add shadow */
  }
  